<div id="fa-xlink" class="d-none">
    <!-- Define the symbols, these are invisible on the page -->
    <i data-fa-symbol="activate" class="fas fa-check-circle"></i>
    <i data-fa-symbol="add" class="fas fa-plus-circle"></i>
    <i data-fa-symbol="edit" class="far fa-edit fa-fw"></i>
    <i data-fa-symbol="cancel" class="fas fa-undo"></i>
    <i data-fa-symbol="clone" class="far fa-copy"></i>
    <i data-fa-symbol="close" class="fas fa-times"></i>
    <i data-fa-symbol="compress" class="fas fa-compress"></i>
    <i data-fa-symbol="create" class="fas fa-plus-square"></i>
    <i data-fa-symbol="decomissionner" class="fas fa-unlink"></i>
    <i data-fa-symbol="delete" class="fas fa-times-circle"></i>
    <i data-fa-symbol="edit" class="fas fa-edit"></i>
    <i data-fa-symbol="execute" class="fas fa-play-circle"></i>
    <i data-fa-symbol="expand" class="fas fa-chevron-down"></i>
    <i data-fa-symbol="fullscreen" class="fas fa-expand"></i>
    <i data-fa-symbol="link" class="fas fa-link"></i>
    <i data-fa-symbol="lock" class="fas fa-lock"></i>
    <i data-fa-symbol="minimize" class="fas fa-chevron-up"></i>
    <i data-fa-symbol="ok" class="fas fa-check"></i>
    <i data-fa-symbol="post" class="fas fa-share"></i>
    <i data-fa-symbol="power" class="fas fa-power-off"></i>
    <i data-fa-symbol="reload" class="fas fa-download"></i>
    <i data-fa-symbol="remove" class="fas fa-trash-alt"></i>
    <i data-fa-symbol="reset" class="fas fa-undo"></i>
    <i data-fa-symbol="save" class="fas fa-save"></i>
    <i data-fa-symbol="start" class="fas fa-toggle-on"></i>
    <i data-fa-symbol="stop" class="fas fa-toggle-off"></i>
    <i data-fa-symbol="unable" class="far fa-check-circle"></i>
    <i data-fa-symbol="unlock" class="fas fa-unlock"></i>
    <i data-fa-symbol="validate" class="fas fa-check-square"></i>

    <i data-fa-symbol="admin" class="fas fa-cogs"></i>
    <i data-fa-symbol="appli" class="fas fa-warehouse"></i>
    <i data-fa-symbol="bugzi" class="fas fa-bug"></i>
    <i data-fa-symbol="contexte" class="fas fa-shield-alt"></i>
    <i data-fa-symbol="controle" class="fas fa-certificate"></i>
    <i data-fa-symbol="ctrl" class="fas fa-certificate"></i>
    <i data-fa-symbol="cmd" class="fas fa-terminal"></i>
    <i data-fa-symbol="comment" class="fas fa-comment"></i>
    <i data-fa-symbol="cnx" class="fas fa-database"></i>
    <i data-fa-symbol="date" class="fas fa-calendar-alt"></i>
    <i data-fa-symbol="dep" class="fas fa-code-branch"></i>
    <i data-fa-symbol="desc" class="fas fa-align-justify"></i>
    <i data-fa-symbol="dest" class="fas fa-share-square"></i>
    <i data-fa-symbol="diagram" class="fas fa-project-diagram"></i>
    <i data-fa-symbol="env" class="fas fa-tags"></i>
    <i data-fa-symbol="exec" class="fas fa-play-circle"></i>
    <i data-fa-symbol="file" class="fas fa-file-code"></i>
    <i data-fa-symbol="form" class="far fa-folder"></i>
    <i data-fa-symbol="groupe" class="fas fa-layer-group"></i>
    <i data-fa-symbol="info" class="far fa-question-circle"></i>
    <i data-fa-symbol="log" class="far fa-file-alt"></i>
    <i data-fa-symbol="lot" class="fas fa-bullseye"></i>
    <i data-fa-symbol="new" class="far fa-star"></i>
    <i data-fa-symbol="map-marker" class="fas fa-map-marker-alt"></i>
    <i data-fa-symbol="params" class="fas fa-code"></i>
    <i data-fa-symbol="parent" class="fas fa-sitemap"></i>
    <i data-fa-symbol="ordo" class="fas fa-clock"></i>
    <i data-fa-symbol="rechargement" class="fas fa-download"></i>
    <i data-fa-symbol="scheduler" class="fas fa-cubes"></i>
    <i data-fa-symbol="scoop" class="fas fa-cubes"></i>
    <i data-fa-symbol="site" class="fas fa-industry"></i>
    <i data-fa-symbol="sql" class="fas fa-cog"></i>
    <i data-fa-symbol="stat" class="fas fa-project-diagram"></i>
    <i data-fa-symbol="sunopsis" class="fas fa-bookmark"></i>
    <i data-fa-symbol="tache" class="fas fa-tasks"></i>
    <i data-fa-symbol="user" class="fas fa-user"></i>
</div>