<div class="content">
    <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#!">Pages</a></li>
            <li class="breadcrumb-item active">Members</li>
        </ol>
    </nav>
    <h2 class="text-bold text-1100 mb-5">Members</h2>
    <div id="members" data-list="{&quot;valueNames&quot;:[&quot;customer&quot;,&quot;email&quot;,&quot;mobile_number&quot;,&quot;city&quot;,&quot;last_active&quot;,&quot;joined&quot;],&quot;page&quot;:10,&quot;pagination&quot;:true}">
        <div class="row align-items-center justify-content-between g-3 mb-4">
            <div class="col col-auto">
                <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search" type="search" placeholder="Search members" aria-label="Search">
                            <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"></path></svg><!-- <span class="fas fa-search search-box-icon"></span> Font Awesome fontawesome.com -->
                    </form>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center"><button class="btn btn-link text-900 me-4 px-0"><svg class="svg-inline--fa fa-file-export fs--1 me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="file-export" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M192 312C192 298.8 202.8 288 216 288H384V160H256c-17.67 0-32-14.33-32-32L224 0H48C21.49 0 0 21.49 0 48v416C0 490.5 21.49 512 48 512h288c26.51 0 48-21.49 48-48v-128H216C202.8 336 192 325.3 192 312zM256 0v128h128L256 0zM568.1 295l-80-80c-9.375-9.375-24.56-9.375-33.94 0s-9.375 24.56 0 33.94L494.1 288H384v48h110.1l-39.03 39.03C450.3 379.7 448 385.8 448 392s2.344 12.28 7.031 16.97c9.375 9.375 24.56 9.375 33.94 0l80-80C578.3 319.6 578.3 304.4 568.1 295z"></path></svg><!-- <span class="fa-solid fa-file-export fs--1 me-2"></span> Font Awesome fontawesome.com -->Export</button><button class="btn btn-primary"><svg class="svg-inline--fa fa-plus me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M432 256c0 17.69-14.33 32.01-32 32.01H256v144c0 17.69-14.33 31.99-32 31.99s-32-14.3-32-31.99v-144H48c-17.67 0-32-14.32-32-32.01s14.33-31.99 32-31.99H192v-144c0-17.69 14.33-32.01 32-32.01s32 14.32 32 32.01v144h144C417.7 224 432 238.3 432 256z"></path></svg><!-- <span class="fas fa-plus me-2"></span> Font Awesome fontawesome.com -->Add member</button></div>
            </div>
        </div>
        <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-white border-y border-300 mt-2 position-relative top-1">
            <div class="table-responsive scrollbar ms-n1 ps-1">
                <table class="table table-sm fs--1 mb-0">
                    <thead>
                        <tr>
                            <th class="white-space-nowrap fs--1 align-middle ps-0">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </th>
                            <th class="sort align-middle" scope="col" data-sort="customer" style="width:15%; min-width:200px;">CUSTOMER</th>
                            <th class="sort align-middle" scope="col" data-sort="email" style="width:15%; min-width:200px;">EMAIL</th>
                            <th class="sort align-middle pe-3" scope="col" data-sort="mobile_number" style="width:20%; min-width:200px;">MOBILE NUMBER</th>
                            <th class="sort align-middle" scope="col" data-sort="city" style="width:10%;">CITY</th>
                            <th class="sort align-middle text-end" scope="col" data-sort="last_active" style="width:21%;  min-width:200px;">LAST ACTIVE</th>
                            <th class="sort align-middle text-end pe-0" scope="col" data-sort="joined" style="width:19%;  min-width:200px;">JOINED</th>
                        </tr>
                    </thead>
                    <tbody class="list" id="members-table-body"><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/32.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Carry Anna</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:annac34@gmail.com">annac34@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+912346578">+912346578</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Budapest</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">34 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Dec 12, 12:56 PM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle avatar-placeholder" src="../../assets/img/team/avatar.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Milind Mikuja</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:mimiku@yahoo.com">mimiku@yahoo.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+8801564768976">+8801564768976</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Manchester</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">6 hours ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Dec 9, 2:28 PM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/35.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Stanly Drinkwater</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:stnlwasser@hotmail.com">stnlwasser@hotmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+78675436798">+78675436798</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Smallville</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">43 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Dec 4, 12:56 PM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/57.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Josef Stravinsky</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:Josefsky@sni.it">Josefsky@sni.it</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+118796567894">+118796567894</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Metropolis</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">2 hours ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Dec 1, 4:07 AM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/58.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Igor Borvibson</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:vibigorr@technext.it">vibigorr@technext.it</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+65899655678">+65899655678</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Central city</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">5 days ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Nov 28, 7:28 PM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/59.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Katerina Karenin</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:karkat99@gmail.com">karkat99@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+00564327890">+00564327890</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Gotham</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">2 weeks ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Nov 24, 10:16 AM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m">
                                        <div class="avatar-name rounded-circle"><span>R</span></div>
                                    </div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Roy Anderson</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:andersonroy@netflix.chill">andersonroy@netflix.chill</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+55890776">+55890776</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Vancouver</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">4 days ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Nov 18, 5:43 PM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/31.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Martina scorcese</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:cesetina1@gmail.com">cesetina1@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+666611896">+666611896</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Viena</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">6 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Nov 18, 2:09 AM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/33.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Luis Bunuel</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:luisuel@live.com">luisuel@live.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+55786534">+55786534</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Bangalore</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">56 min ago</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Nov 16, 3:22 PM</td>
                        </tr><tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="fs--1 align-middle ps-0 py-3">
                                <div class="form-check mb-0 fs-0"><input class="form-check-input" type="checkbox"></div>
                            </td>
                            <td class="customer align-middle white-space-nowrap"><a class="d-flex align-items-center text-900 text-hover-1000" href="#!">
                                    <div class="avatar avatar-m"><img class="rounded-circle" src="../../assets/img/team/34.png" alt=""></div>
                                    <h6 class="mb-0 ms-3 fw-semi-bold">Jean Renoir</h6>
                                </a></td>
                            <td class="email align-middle white-space-nowrap"><a class="fw-semi-bold" href="mailto:renoirjean1836@gmail.com">renoirjean1836@gmail.com</a></td>
                            <td class="mobile_number align-middle white-space-nowrap"><a class="fw-bold text-1100" href="tel:+8801765458767">+8801765458767</a></td>
                            <td class="city align-middle white-space-nowrap text-900">Chittagong</td>
                            <td class="last_active align-middle text-end white-space-nowrap text-700">Yesterday</td>
                            <td class="joined align-middle white-space-nowrap text-700 text-end">Nov 09, 8:49 AM</td>
                        </tr></tbody>
                </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                <div class="col-auto d-flex">
                    <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info">1 to 10 <span class="text-600"> Items of </span>15</p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;"><g transform="translate(128 256)"><g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)"><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" transform="translate(-128 -256)"></path></g></g></svg><!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com --></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg="" style="transform-origin: 0.25em 0.5625em;"><g transform="translate(128 256)"><g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)"><path fill="currentColor" d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z" transform="translate(-128 -256)"></path></g></g></svg><!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com --></a>
                </div>
                <div class="col-auto d-flex"><button class="page-link disabled" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
                    <ul class="mb-0 pagination"><li class="active"><button class="page" type="button" data-i="1" data-page="10">1</button></li><li><button class="page" type="button" data-i="2" data-page="10">2</button></li></ul><button class="page-link pe-0" data-list-pagination="next"><svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer position-absolute">
        <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none">2023 ©<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
                <p class="mb-0 text-600">v1.8.0</p>
            </div>
        </div>
    </footer>
</div>